#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 90%;
    min-width: 200px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

/* Imagen de la notificaci贸n */
#notification-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Mensaje de la notificaci贸n */
#notification-message {
    flex: 1;
    word-wrap: break-word;
}

/* Ocultar notificaci贸n */
.hidden {
    visibility: hidden;
    opacity: 0;
}

/* Mostrar notificaci贸n */
.visible {
    visibility: visible;
    opacity: 1;
}